.AddPost {
  display: flex;
  justify-content: flex-end;
}

#add-post-icon:hover {
  cursor: pointer;
}

.plus-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(82, 207, 82);
  border-radius: 50%;
  height: 48px;
  width: 48px;
  margin: 12px;
  h1 {
    color: rgb(238, 230, 216);
    font-size: 64px;
    font-weight: 100;
  }
}
