* {
  box-sizing: border-box;
}

body {
  background: oldlace;
  margin: 0;
  font-family: $font-main;
}

.shadow-box {
  margin: 0 0 10px 0;
  border-radius: 5px;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.2);
}

.shadow {
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.2);
}
