.CityInfo {
  display: flex;
  background: #ffb619;
  img {
    border-radius: 0 5px 5px 0;
    width: 58.33%;
  }
}

.city-headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 41.66%;
  padding: 0 12px;
}
